<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Intenta de nuevo!</h2>
  <p>Parece que su nombre de usuario y/o contraseña no son válidos. Inténtalo de nuevo.</p>
</section>
