<section class="login__error container">
  <img src="/images/mario-gif.gif" alt="" aria-hidden="true" />
  <h2 lang="en">Intente de nuevo!</h2>
  <p>
    Parece que no ingresó una contraseña válida o que la contraseña no coincide.
    nuestros regístros.
  </p>
</section>
